go 1.25.11

use (
	./adapters/adapterutil
	./adapters/grpc
	./adapters/mqtt
	./adapters/oidc
	./adapters/otel
	./adapters/postgres
	./adapters/prometheus
	./adapters/rabbitmq
	./adapters/ratelimit
	./adapters/redis
	./adapters/s3
	./adapters/softca
	./adapters/vault
	./adapters/websocket
	./cellmodules
	./cmd/corebundle
	./cmd/gocell
	./corecells
	./examples/corebundlestarter
	./examples/demo
	./examples/iotdevice
	./examples/orderfulfillment
	./examples/ssobff
	./examples/todoorder
	./examples/webhookdemo
	./framework
	./generated
	./tests
	./tests/integration
	./tests/testutil/pgshare
	./tools
)
