go 1.25.11

use (
	.
	./cellmodules
	./cmd/corebundle
	./cmd/gocell
	./examples/corebundlestarter
	./examples/demo
	./examples/iotdevice
	./examples/orderfulfillment
	./examples/ssobff
	./examples/todoorder
	./examples/webhookdemo
	./tests/integration
	./tests/testutil/pgshare
)
